/* You can add global styles to this file, and also import other style files */

.container {
  width: 80%;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.primary_color {
  color: #0b70c7;
}

.component-ct {
  border: 1px solid #0b70c7;
  margin-bottom: 20px;
}

.p-l-m {
  padding-left: 10px;
}

.title {
  margin: 0;
  border-bottom: 1px solid #0b70c7;
}
